createdAt: "2019-11-22T12:54:26.929Z"
updatedAt: "2019-11-22T12:57:51.309Z"
type: "MARKDOWN_NOTE"
folder: "8d283bc4c34b355efef1"
title: "参考资料"
tags: []
content: '''
  # 参考资料
  
  研究意义：
  
  [The Burgeoning Need for Big Data Assurance](https://www.wipro.com/applications/the-burgeoning-need-for-big-data-assurance/)
  - The State of Big Data Implementations Today
  - What is Big Data Assurance?
  - Current State of Assurance in Big Data Implementations
  - Benefits from Implementing a Holistic Big Data Assurance Strategy
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
