createdAt: "2020-02-18T07:14:47.462Z"
updatedAt: "2020-03-08T02:16:26.850Z"
type: "MARKDOWN_NOTE"
folder: "17ec6a2700afef60a17d"
title: "随时记录"
tags: []
content: '''
  # 随时记录
  
  ## 20.02.29
  
  preprocess/extract_patches.py
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
