createdAt: "2019-11-21T10:55:10.960Z"
updatedAt: "2019-11-21T12:16:46.489Z"
type: "MARKDOWN_NOTE"
folder: "8d283bc4c34b355efef1"
title: "大数据质量"
tags: []
content: '''
  ### 大数据质量
  
  
  注：以下只是列出文章结构和关键点，每部分关键点后续还会扩展，扩展所需参考资料在括号中
  
  
  
  
  #### 1. 大数据质量的重要意义
  
  - 大数据质量是大数据研究的前提，是一切数据分析、挖掘、决策支持的基础(*Kulkarni A. A study on metadata management and quality evaluation in big data management[J]. Engineering Technology & Applied Science Research, 2016, 4(7): 455-459.*)
  - 近年来，大数据计算思想和方法的广泛传播对许多学科产生了深远影响，大数据质量研究作为大数据研究领域的核心问题，受到各界关(*Liu J, Li J, Li W, et al. Rethinking big data: A review on the data quality and usage issues[J]. ISPRS Journal of Photogrammetry and Remote Sensing, 2016, 115: 134-142.*)(*Boyd D, Crawford K. Critical questions for big data provocations for a cultural, technological, and scholarly phenomenon[J]. Information,Communication and Society, 2012, 15: 662-679.*)
  
  #### 2. 大数据质量目前存在的问题
  
  - 大数据所呈现出的非结构化特点、数据来源新方式及用户对数据质量期望和感知变化等对数据质量研究提出了新的挑战。(*Lee Y W, Pipino L L, Funk J D, et al. 数据质量征途[M]. 黄伟,王嘉寅, 苏秦, 等译. 北京: 高等教育出版社, 2015.*)(*Immonen A, Pääkkönen P, Ovaska E. Evaluating the quality of social media data in big data architecture[J]. IEEE Access, 2015, 3:2028-2043*)
  
  
  
  #### 3. 大数据质量基本内涵研究
  
  大数据质量的定义有很多，以下的文章分别有不同的定义：
  
  - (*Sukumar R, Ramachandran N, Ferrell R K.‘Big Data’in health care: How good is it? [J]. International Journal of Health Care Quality Assurance, 2015: 2-9.*)
  - (*Caballero I, Serrano M, Piattini M. A data quality in use model for big data[C]// Proceedings of the International Conference on Conceptual Modeling. Heidelberg: Springer, 2014: 65-74.*)
  -  (*Cai L, Zhu Y Y. The challenges of data quality and data quality assessment in the big data era[J]. Data Science Journal, 2015, 14:Article No. 2.*)
  -  (*Wahyudi A, Kuk G, Janssen M. A process pattern model for tackling and improving big data quality[J]. Information Systems Frontiers,2018, 20: 457-469.*)
  -  (*Haryadi A F, Hulstijn J, Wahyudi A, et al. Antecedents of big data quality: An empirical examination in financial service organizations[C]// Proceedings of 2016 IEEE International Conference on Big Data. IEEE, 2016: 116-121.*)
  - (*Batini C, Rula A, Scannapieco M, et al. From data quality to big data quality[J]. Journal of Database Management, 2015, 26(1):60-82*)
  - (*Rao D, Gudivada V N, Raghavan V V. Data quality issues in big data[C]// Proceedings of IEEE International Conference on Big Data. IEEE, 2015: 2654-2660*)
  - (*Haryadi A F. Requirements on and antecedents of big data quality:An empirical examination to improve big data quality in financial service organizations[D]. Delft: Delft University of Technology,2016: 13.*)
  - (*Glowalla P, Balazy P, Basten D, et al. Process-driven data quality management—An application of the combined conceptual life cycle model[C]// Proceedings of the 2014 47th Hawaii International Conference on System Sciences. Washington DC: IEEE Computer Society, 2014: 4700-4709.*)
  - (*Kläs M, Trendowicz A, Jedlitschka A. What makes big data different from a data quality assessment perspective? Practical challenges for data and information quality research[R]. ODQ201530 March 2015, Garching, Germany.*)
  
  总之，大数据质量的精确感知和定义取决于诸多因素，是一个多维尺度概念
  
  #### 4. 大数据质量管理研究
  
  ##### 4.1 大数据管理思想
  
  - 大数据质量管理是组织变革管理的关键支撑流程，是根据组织业务需求制定标准，并确保得到遵守的持续动态过程(*张绍华, 潘蓉, 宗宇伟. 大数据治理与服务[M]. 上海: 上海科学技术出版社, 2016: 120.*)
  - 质量管理贯穿于大数据生命周期的每个阶段，是各阶段数据质量问题识别、度量、监控、预警等的系列管理活动，包括过程、方法、标准、准则、体系和质量参数等核心内容(*Gao J, Xie C, Tao C. Big data validation and quality assurance—Issuses, challenges, and needs[C]// Proceedings of 2016 IEEE Symposium on Service-Oriented System Engineering. IEEE,2016: 433-441*)(*蔡莉, 朱扬勇. 大数据质量[M]. 上海: 上海科学技术出版社,2017: 5.*)(*Federal D A S. Data quality framework, version 1.0[R]. JusticeSector Information Strategy, Ministry of Justice, US, 2008.*)
  - 其管理思想与根本原则应不同于常规数据质量管理(*Parkinson J. Six big data challenges[EB/OL]. [2017-02-01]. http://www.cioinsight.com/c/a/Expert-Voices/Managing-Big-Data-Six-Operational-Challenges-484979.*)
  - 基于大数据特点和质量可变性，大数据质量管理的重点聚焦于数据集的评估和对数据的纠正措施，以确保数据集符合其最初任务目标、应用情境和预期。(*Loshin D. Big data analytics: From strategic planning to enterprise integration with tools, techniques, NoSQL, and graph[M]. Morgan Kaufmann Publishers, 2013: 13.*)
  
  
  ##### 4.2 大数据管理模型
  
  - IBM数据治理委员会数据治理要素模型(*IBM Corporation. IBM data governance council maturity model:Building a roadmap for effective data governance[R]. 2007.*)
  - Gartner数据管理参考框架及数据治理和信息管理要素模型(*Gartner Group. Big data[EB / OL]. http:// www. gartner. com/ itglossary/big-data.*)
  - DAMA 数据管理知识体系（DMBOK） 框架(*DAMA International. DAMA数据管理知识体系指南[M]. 马欢,刘晨, 等译. 北京: 清华大学出版社, 2012.*)
  - Taleb 等基于大数据流程阶段和生命周期并与大数据处理过程相结合的全面质量管理（QBD） 模型(*Taleb I, Dssouli R, Serhani M A. Big data pre-processing: A quality framework[C]// Proceedings of the IEEE International Congresson Big Data. IEEE, 2015: 191-198.*)(*Taleb I, Serhani M A, Dssouli R. Big data quality: A survey[C]//Proceedings of the 2018 IEEE International Congress on Big Data.IEEE, 2018: 166-173.*)
  - Rao 等基于业务语境构建形成过程驱动的数据质量管理（PDDQM） 模型(*Rao D, Gudivada V N, Raghavan V V. Data quality issues in bigdata[C]// Proceedings of IEEE International Conference on Big Data. IEEE, 2015: 2654-2660.*)
  - Chen 等提出基于系统体系工程和质量生命周期管理（QLM）动态一致性质量管理框(*Chen Y T, Sun E W, Lin Y B. Coherent quality management for big data systems: a dynamic approach for stochastic time consistency[J]. Annals of Operations Research, 2018: Article No. 2795.*)
  
  
  ##### 4.3 大数据质量优化与提升策略研究
  
  
  - 罗纳德·巴赫曼等提出通过专业部门和信息技术的协调与合作的大数据质量管理模式(*罗纳德·巴赫曼, 吉多·肯珀, 托马斯·格尔策. 大数据时代下半场: 数据治理、驱动与变现[M]. 刘志则, 刘源, 译. 北京: 北京联合出版公司, 2017: 101.*)
  - ；Wahyudi 等基于数据生命周期理论，构建形成面向特定环境、特定目标和特定初始条件集合的大数据质量管理通用过程模型(*Wahyudi A, Kuk G, Janssen M. A process pattern model for tackling and improving big data quality[J]. Information Systems Frontiers,2018, 20: 457-469.*)
  - 张绍华等结合六西格玛管理方法提出大数据质量项目管理六西格玛模型(*张绍华, 潘蓉, 宗宇伟. 大数据治理与服务[M]. 上海: 上海科学技术出版社, 2016: 120.*)
  
  
  
  ##### 4.4 具体领域大数据质量管理实践研究
  
  政府大数据质量管理实践领域：
  
  - 围绕意大利五个宪政办公室发布的开放大数据质量，Ciancarini等基于W3C 标准、AGID 标准获得此类数据质量评价与优化方法。(*Ciancarini P, Poggi F, Russo D. Big data quality: a roadmap for open data[C]// Proceedings of the 2016 IEEE Second International Conference on Big Data Computing Service and Applications.IEEE, 2016: 210-215.*)
  - 洪学海等从时间维、空间维、业务维3 个维度，构建形成大数据全景式数据质量测度模型。(*洪学海, 王志强, 杨青海. 面向共享的政府大数据质量标准化问题研究[J]. 大数据, 2017(3): 44-52.*)
  - 基于已有数据质量评价维度和政府大数据特性，马一鸣构建形成我国政府大数据质量评价体系，提出政府数据增值性管理机制。(*马一鸣. 政府大数据质量评价体系构建研究[D]. 长春: 吉林大学, 2016.*)
  
  
  医疗领域:
  
  - 在数据准确性、数据失效、系统软件等数据质量问题产生根源剖析基础上，Becker 等基于美国陆军医疗指挥部（MEDCOM） 的医疗操作数据系统（MODS）项目数据质量分析结果，在医疗领域大数据质量评价维度建构、质量测量、质量提升工具等方面获得进展。(*Becker D, King T D, McMullen B, et al. Big data quality case study preliminary findings[R]. U.S. Army Medcom Mods, 2013:1-54.*)
  - Suraj Juddoo 的研究团队采用内部解释学循环研究方法，基于组织数据质量维度的层次结构框架， 揭示并确定健康大数据质量评价的核心维度(*Juddoo S, George C, Duquenoy P, et al. Data governance in the health industry: Investigating data quality dimensions within a big data context[J]. Applied System Innovation, 2018, 1(4): 43;*)(*Juddoo S, George C. Discovering the most important data qualitydimensions in health big data using latent semantic analysis[C]// Proceedings of the IEEE International Conference on Advances in Big Data, Computing and Data Communication Systems, Durban, South Africa, 2018.*)
  - Hoffman提出通过数据审计、人力和技术解决方案、监管等健康大数据质量提升策略。(*Hoffman S. Medical big data and big data quality problems[J].Social Science Electronic Publishing, 2014: 289-316.*)
  - 马国耀等基于“校验-反馈-优化”数据质量控制技术将数据质量改善过程落实到数据处理的各个阶段，提出卫生数据质量控制解决方案。(*马国耀, 孙勇韬, 马玉玲. 数据校验技术在医疗健康大数据质量控制中的应用分析[J]. 中国卫生信息管理杂志, 2016, 13(4):417-419.*)
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
