createdAt: "2020-01-14T03:23:52.568Z"
updatedAt: "2020-01-14T03:25:00.441Z"
type: "MARKDOWN_NOTE"
folder: "17ec6a2700afef60a17d"
title: "NCRF Codes"
tags: []
content: '''
  # NCRF Codes
  
  
  
  [NCRF/wsi/bin/train.py](:note:412c508c-3881-4a6b-b17d-0db7422448ee)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
