createdAt: "2019-12-13T05:15:06.994Z"
updatedAt: "2020-01-11T12:02:46.670Z"
type: "MARKDOWN_NOTE"
folder: "0c8dbf9ec6d493d3fd38"
title: "服务器常见问题"
tags: []
content: '''
  ### 服务器常见问题
  
  ### 安装anaconda和pytorch
  
  官网找到下载的地方，然后复制下载地址，用wget [url]来下载安装包，然后bash这个安装包，路径记得选择一下
  
  然后添加到路径
  ~~~
  echo ‘export PATH="userhome/downloads/root/anaconda3/bin:$PATH"’ >> ~/.bashrc
  source ~/.bashrc
  ~~~
  
  下载pytorch的时候在官网找到下载命令，然后-c后面变成清华镜像
  
  
  #### 查看cuda版本
  
      nvcc -V
  
  或者
  
      cat /usr/local/cuda/version.txt
  #### 查看pytorch版本
  
      import torch
      print(torch.__version__)
      
  #### 查看GPU使用情况
  
      watch -n 0.1 nvidia-smi
      
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
