createdAt: "2019-11-24T13:04:41.165Z"
updatedAt: "2019-12-02T21:05:54.303Z"
type: "MARKDOWN_NOTE"
folder: "94cf7218696b1536fc91"
title: "\\documentclass{ctexart}"
tags: []
content: '''
  \\documentclass{ctexart}
  \\begin{document}
  中文宏包测试
  \\end{document}
   
'''
linesHighlighted: []
isStarred: false
isTrashed: true
