createdAt: "2019-11-15T05:53:13.187Z"
updatedAt: "2019-11-15T05:53:24.550Z"
type: "MARKDOWN_NOTE"
folder: "6b4f122b9934a34de253"
title: "Username & Password"
tags: []
content: '''
  Username & Password
  
  **slack**
  acount: outlook
  url: pekinguniversitycorp
  
  **aliyun**
  account: carolren233
  pw: 三三
  
  **pcl**
  account: reny
  pw: 3三%
'''
linesHighlighted: []
isStarred: false
isTrashed: false
