createdAt: "2019-11-15T05:53:13.187Z"
updatedAt: "2020-03-06T05:32:11.938Z"
type: "MARKDOWN_NOTE"
folder: "6b4f122b9934a34de253"
title: "Username & Password"
tags: []
content: '''
  #### Username & Password
  
  **slack**
  acount: outlook
  url: pekinguniversitycorp
  
  **aliyun**
  account: carolren233
  pw: 三三
  
  **pcl**
  account: reny
  pw: 3三%
  
  **云脑**
  
  
  **Pycharm**
  账号：CarolRen233
  学校邮箱
  3三%
  
  **nvidia**
  账号：2015邮箱
  密码：3三%
  
  **MObaXterm**
  master pw；3三%
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
