createdAt: "2020-01-13T04:57:42.055Z"
updatedAt: "2020-01-14T02:23:40.492Z"
type: "MARKDOWN_NOTE"
folder: "17ec6a2700afef60a17d"
title: "NCRF"
tags: []
content: '''
  # NCRF
  
  ## Data Prepareation
  
  Training：160 Normal + 110 Tumor
  (Train and Validation: 001-140 Normal,001-100Tumor)
  Testing： 81 Normal + 49 Tumor
  Magnification: 40×
  Otsu to exclude background
  
  
  ## 预处理
  生成patches
  
  ~~~
  python NCRF/wsi/bin/patch_gen.py /userhome/renqian/dataset/CAMELYON16/training/tumor/ NCRF/coords/tumor_train.txt /PATCHES_TUMOR_TRAIN/
  python NCRF/wsi/bin/patch_gen.py /userhome/renqian/dataset/CAMELYON16/training/normal/  NCRF/coords/normal_train.txt /PATCHES_NORMAL_TRAIN/
  python NCRF/wsi/bin/patch_gen.py /userhome/renqian/dataset/CAMELYON16/training/tumor/ NCRF/coords/tumor_valid.txt /PATCHES_TUMOR_VALID/
  python NCRF/wsi/bin/patch_gen.py /userhome/renqian/dataset/CAMELYON16/training/normal/ NCRF/coords/normal_valid.txt /PATCHES_NORMAL_VALID/
  ~~~
'''
linesHighlighted: []
isStarred: false
isTrashed: false
