createdAt: "2019-12-12T09:07:52.172Z"
updatedAt: "2019-12-13T04:48:30.639Z"
type: "MARKDOWN_NOTE"
folder: "f1fd0a362703e39f5960"
title: "Experiments Results"
tags: []
content: '''
  ## Experiments Results
  
  用这些参数
  ~~~
  python main.py --model ResNet10 \\
    --traincfg base_classes_train_cub_template.yaml \\
    --valcfg base_classes_val_cub_template.yaml \\
    --print_freq 10 --save_freq 10 \\
    --checkpoint_dir checkpoints/ResNet10_base_cub_cos \\
    --gpu 0 --num_classes 200 --step_size1 130 --step_size2 150 --stop_epoch 170 --is_cosine
  ~~~
  得到的结果
  ~~~
  Epoch 169/170 | Batch 170/188 | Loss 0.565152 | Data time 0.002330 | SGD time 0.012071
  0.001
  Epoch 169/170 | Batch 180/188 | Loss 0.569590 | Data time 0.002203 | SGD time 0.011964
  Epoch 169/170 | Batch 0/30 | Top-1 0.680000 | Top-5 0.890000 | Data time 1.183203 | Test time 0.030048
  Epoch 169/170 | Batch 10/30 | Top-1 0.669091 | Top-5 0.883636 | Data time 1.399972 | Test time 0.032328
  Epoch 169/170 | Batch 20/30 | Top-1 0.675238 | Top-5 0.882857 | Data time 1.837559 | Test time 0.031508
  Epoch 169/170 | Batch 29/30 | Top-1 0.670572 | Top-5 0.880772 | Data time 2.140799 | Test time 0.030126
  
  ~~~
  
  
  
  ****
  
  用这些
  
  ~~~
  python ./main.py --model ResNet10 \\
    --traincfg base_classes_train_cub_template.yaml \\
    --valcfg base_classes_val_cub_template.yaml \\
    --print_freq 10 --save_freq 10 \\
    --checkpoint_dir checkpoints/ResNet10_cub_cos_finetune \\
    --gpu 0 --num_classes 200 --step_size1 130 --step_size2 150 --stop_epoch 170 --is_cosine \\
    --resume_file checkpoints/ResNet10_base_cub_cos/169.tar
  ~~~
  
  得到的结果
  
  ~~~
  Epoch 169/170 | Batch 180/188 | Loss 0.469497 | Data time 0.015024 | SGD time 0.012802
  Epoch 169/170 | Batch 0/30 | Top-1 0.620000 | Top-5 0.860000 | Data time 1.859070 | Test time 0.028805
  Epoch 169/170 | Batch 10/30 | Top-1 0.681818 | Top-5 0.889091 | Data time 2.029923 | Test time 0.026011
  Epoch 169/170 | Batch 20/30 | Top-1 0.692857 | Top-5 0.893810 | Data time 2.408123 | Test time 0.024396
  Epoch 169/170 | Batch 29/30 | Top-1 0.693660 | Top-5 0.888353 | Data time 2.751215 | Test time 0.023144
  
  ~~~
  
  
  ****
  
  
  use_attribute = True 在train和val都改了的情况下
  
  用参数
  
  ~~~
  python ./main.py --model ResNet10 \\
    --traincfg base_classes_train_cub_template.yaml \\
    --valcfg base_classes_val_cub_template.yaml \\
    --print_freq 10 --save_freq 10 \\
    --checkpoint_dir checkpoints/ResNet10_cub_cos_finetune_comp15_orth00035 \\
    --gpu 0 --num_classes 200 --step_size1 130 --step_size2 150 --stop_epoch 170 --is_cosine \\
    --resume_file checkpoints/ResNet10_base_cub_cos/169.tar \\
    --attr_weight 15 --orth_weight 0.00035 --is_soft
  ~~~
  
  得到的结果
  
  ~~~
  Epoch 169/170 | Batch 530/581 | Top-1 0.715254 | Top-5 0.907345 | Data time 8.331012 | Test time 0.003231
  Epoch 169/170 | Batch 540/581 | Top-1 0.717190 | Top-5 0.907579 | Data time 8.474721 | Test time 0.003223
  Epoch 169/170 | Batch 550/581 | Top-1 0.719056 | Top-5 0.907804 | Data time 8.618003 | Test time 0.003211
  Epoch 169/170 | Batch 560/581 | Top-1 0.718360 | Top-5 0.907308 | Data time 8.761394 | Test time 0.003207
  Epoch 169/170 | Batch 570/581 | Top-1 0.719790 | Top-5 0.908231 | Data time 8.904616 | Test time 0.003201
  Epoch 169/170 | Batch 580/581 | Top-1 0.720193 | Top-5 0.908339 | Data time 9.047733 | Test time 0.003196
  ~~~
  
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
