createdAt: "2019-11-20T03:19:50.379Z"
updatedAt: "2019-12-17T05:31:51.897Z"
type: "MARKDOWN_NOTE"
folder: "0c8dbf9ec6d493d3fd38"
title: "python 常见功能"
tags: []
content: '''
  # python 常见功能
  
  
  [TOC]
  
  ## 文件相关
  
  
  查看有没有某个文件夹，没有的话就自己建一个
  
  ~~~python
  import os
  if not os.path.exists(directory):
      os.makedirs(directory)
  ~~~
  
  ## tensorboard
  
  显示不同的文件夹，做对比，可以是时间戳，可以是不同的模型
  [时间戳](https://blog.csdn.net/YuzuruHanyu/article/details/88851091)
  tensorboard --logdir=.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
