createdAt: "2019-12-05T05:13:56.022Z"
updatedAt: "2020-04-10T05:26:55.279Z"
type: "MARKDOWN_NOTE"
folder: "0c8dbf9ec6d493d3fd38"
title: "Conda/pip"
tags: []
content: '''
  # Conda/pip
  
  [toc]
  
  
  ## Conda
  
  ### 安装anaconda和pytorch
  
  官网找到下载的地方，或者到清华镜像找安装包，然后复制下载地址，用wget [url]来下载安装包，然后bash这个安装包，路径记得选择一下
  export ANACONDA_HOME=/root/workspace/renyan/anaconda3/bin
  export PATH=$ANACONDA_HOME:$PATH
  然后添加到路径
  ~~~
  vim ~/.bashrc
  export PATH=/root/workspace/renyan/anaconda3/bin:$PATH
  source ~/.bashrc
  ~~~
  
  下载pytorch的时候在官网找到下载命令，然后-c后面变成清华镜像
  
      
  ### 环境管理
  
  创建环境
  
  ~~~
  conda create -n py36 python=3.6 
  ~~~
  
  查看都有哪些环境
  
  ~~~
  conda info --env
  ~~~
  
  删除环境
  
  ~~~
  conda remove -n py36 --all
  ~~~
  
  安装包来自txt
  
  ~~~
  conda install --yes --file requirements.txt
  
  pip install -r requirements.txt 
  ~~~
  
  安装tensorboardX
  
  ~~~
  conda install -c conda-forge tensorboardx 
  ~~~
  
  ### 镜像管理
  
  查看channels信息
  ~~~
  conda config --show channels
  ~~~
  
  移除某个源
  
  ~~~
  conda config --remove channels [url]
  ~~~
  
  添加清华源并在安装的时候显示包的安装来源
  
  ~~~
  conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free/
  conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main/
  conda config --set show_channel_urls yes
  ~~~
  
  ## 安装
  从本地安装
  ~~~bash
  conda install --use-local pytorch-0.4.0-py35_cuda8.0.61_cudnn7.1.2_1.tar.bz2
  ~~~
  
  ## Pip
  
  设清华镜像
  
  ~~~
  pip config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple
  ~~~
  
  
  安装opencv
  ~~~
  pip search opencv-python #查看最新版本的
  pip install opencv-python==3.1.0.0
  ~~~
  
  防止time out
  ~~~
  pip install --default-timeout=100 torch torchvision
  ~~~
  
  ## Jupyter
  
  **给jupyter选择conda环境***
  
  先给conda的源换成清华源
  
  conda config --remove-key channels
  conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free/
  conda config --add channels https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main/
  conda config --set show_channel_urls yes
  然后安装
  ~~~
  conda install ipykernel
  conda activate 环境名称
  python -m ipykernel install --user --name torch10 --display-name "torch10"
  ~~~
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
