createdAt: "2019-12-17T02:22:46.732Z"
updatedAt: "2020-01-07T04:22:55.441Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: "2019.12.30-2020.1.5_周报_任妍"
content: '''
  # 2019.12.30-2020.1.5_周报_任妍
  
  [TOC]
  
  
  ## 本周工作总结
  
  
  1.  进行few-shot的实验
  在鹏城服务器上跑实验，学习使用云脑
  
  2. ScanNet文章的精读
  关于病灶分割的文章《ScanNet: A Fast and Dense Scanning Framework for Metastastic Breast Cancer Detection from Whole-Slide Image》文章精读，并请教任前相关问题
  
  
  
  
  
  ## 本周遇到问题及解决方案
  本周遇到的问题主要是云脑的使用，发现云脑的使用和之前服务器的使用还是有区别的
  
  
  ## 下周计划
  
  1. 政治作业复习
  2. ScanNet调研
'''
linesHighlighted: []
tags: []
isStarred: false
isTrashed: false
