createdAt: "2019-12-17T02:22:46.732Z"
updatedAt: "2020-03-05T04:07:28.491Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: "2020.3.2-2020.3.8_周报_任妍"
content: '''
  # 2020.3.2-2020.3.8_周报_任妍
  
  [TOC]
  
  
  ## 本周工作总结
  
  
  
  
  【病灶分割】
  
  继续复现Detecting Cancer Metastases on Gigapixel Pathology Images这篇文章，提取了patchlist，进行训练
  
  
  
  ## 本周遇到问题及解决方案
  
  1. 发现生成的patchlist的label都是0，有些明明是tumor但是却标了0(normal)，很费解，代码和任前的一模一样，但是就是结果不一样
  解决：暂时不用云脑，转用服务器，然后win_size设置成了和论文一样的128，最后生成的patchlist是正确的
  
  2. 使用到生成的mask的时候，发现一个奇怪的现象，就是mask要么就是横向的比原图少了32个像素，要么就是纵向的比原图少了32个像素，目前还找不到原因，只能先遇到这样的情况就把原图切割一下
  
  
  
  ## 下周计划
  
  病灶分割代码复现进行训练
'''
linesHighlighted: []
tags: []
isStarred: false
isTrashed: false
