createdAt: "2021-07-12T08:19:33.809Z"
updatedAt: "2021-07-12T08:20:32.880Z"
type: "MARKDOWN_NOTE"
folder: "0a10886e53840528eb15"
title: "写文章tricks"
tags: []
content: '''
  # 写文章tricks
  
  1. 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
