createdAt: "2019-12-05T09:41:29.866Z"
updatedAt: "2020-02-12T08:20:33.790Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: "新型冠状病毒调研"
tags: []
content: '''
  # 新型冠状病毒调研
  
  ## 背景
  
  
  [A novel coronavirusoutbreak of global health concer](https://www.thelancet.com/action/showPdf?pii=S0140-6736%2820%2930185-9)
  
  2019年12月，中国湖北省武汉市爆发不明原因肺炎疫情。第一例于12月1日出现在湖北省武汉金银潭医院。同月，武汉部分医疗机构接诊发现27起于华南海鲜市场有关联的肺炎病例[1]，引起国内外高度关注。中国卫生部门立即展开调查，对该病进行了定性和控制，包括隔离疑似患者、密切监测接触者、收集患者的流行病学和临床数据，以及制定诊断和治疗程序。到2020年1月7日，中国科学家在武汉分离出一种新型冠状病毒(CoV)[2]，并在 3天后与国际社会共享病毒基因组数据[3]。由于诊断检测手段的提高和对对疫情爆发的认识增强，报告的病例数量越来越多。1月20日，在北京、广东、浙江等地也确诊了多例新型冠状病毒感染的肺炎病例。同日，中国国家卫生健康委员会(NHC)证实了人对人的传播正在进行[4]。1月21日，美国和台湾在从武汉返回的旅客中发现了病例，中国多个省份报告了新的病例，包括15名医护人员感染和6例死亡[6]。2020年1月31日，世界卫生组织将由新型冠状病毒引发的疫情定为国际关注的公共卫生紧急事件[5]。截至2月12日，中国累计确诊病例44747例，其中重症8204例，并主要集中在湖北省。中国以外，24个国家共有393例病例，包括澳大利亚、柬埔寨、加拿大、法国、德国、日本、尼泊尔、新加坡、韩国、台湾、泰国、阿拉伯联合酋长国、美国和越南[2]。2月12日，世界卫生组织周二通过社交媒体推特发布了其确定的新型冠状病毒引起的疾病的英文名称：COVID-19[7]，并表示新冠病毒疫苗可能在18个月内完成。
  
  
  [1]武汉市卫健委关于当前我市肺炎疫情的情况通报(http://wjw.wuhan.gov.cn/front/web/showDetail/2019123108989)
  [2]来源于中国武汉的新型冠状病毒  美国医学会 (American Medical Association)[](https://jamanetwork.com/documentlibrary/translations/jama_phelan_2020_vp_200008_chinese_translation.pdf)
  [3]新型冠状病毒—中国 世界卫生组织[世界卫生组织 \\| 新型冠状病毒—中国](https://www.who.int/csr/don/12-january-2020-novel-coronavirus-china/zh/)
  [4]国家卫生健康委员会高级别专家组就新型冠状病毒感染的肺炎疫情答记者问
  [5] W.H.O. Declares Global Emergency as Wuhan Coronavirus Spreads. The New York Times.
  [6]2019 Novel Coronavirus (2019-nCoV): What We Currently Know
  [7][世卫命名新冠病毒“Covid-19 ”疫苗或在18个月内出现](http://www.rfi.fr/cn/%E4%B8%AD%E5%9B%BD/20200211-%E4%B8%96%E5%8D%AB%E5%91%BD%E5%90%8D%E6%96%B0%E5%86%A0%E7%97%85%E6%AF%92covid-19-%E7%96%AB%E8%8B%97%E6%88%96%E5%9C%A818%E4%B8%AA%E6%9C%88%E5%86%85%E5%87%BA%E7%8E%B0)
  
  
  
  ## 目前检测手段
  可以根据下列检查结果诊断新型冠状病毒感染：
  - 症状和体征，尤其是符合下列条件者：
  -- 居住在新型冠状病毒爆发地区
  --  近期曾前往或来自于新型冠状病毒高发地区
  -- 护理已确诊为新型冠状病毒感染的患者或与其同住
  - 体格检查
  - 实验室检查，可检测出新型冠状病毒核酸，可能包括：
  -- 鼻拭子，从鼻腔采集体液标本
  -- 咽拭子，从咽部采集体液标本
  -- 从肺部（痰液）采集粘液标本
  -- 血液检测
  
  
  [新型冠状病毒肺炎诊疗方案  (试行第五版修正版) ](https://www.chinalawtranslate.com/13986-2/)
  [新型冠状病毒感染的肺炎诊疗方案(试行第五版)](http://www.chinacdc.cn/jkzt/crb/zl/szkb_11803/jszl_11815/202002/W020200209352220787328.pdf)
  
  
  >第三，临床表现。潜伏期1-14天，一般为3-7天。以发热、乏力、干咳为主要表现。少数患者伴有鼻塞、流涕、腹泻等症状。因部分重症患者无明显呼吸困难，表现为低氧血症，改为“重症患者多在发病一周后出现呼吸困难和/或低氧血症，严重者快速进展为急性呼吸窘迫综合征、脓毒症休克、难以纠正的代谢性酸中毒和出凝血功能障碍等。”强调“轻型患者仅表现为低热、轻微乏力等，无肺炎表现。”
  >
  >实验室检查增加“部分患者可出现肝酶、LDH、肌酶和肌红蛋白增高；部分危重者可见肌钙蛋白增高。”和“鼻咽拭子、痰、下呼吸道分泌物、血液、粪便等标本中可检测出新型冠状病毒核酸。”
  >
  >胸部影像学的早期呈现多发小斑片影及间质改变，以肺外带明显。进而发展为双肺多发磨玻璃影、浸润影，严重者可出现肺实变，胸腔积液少见。
  >
  >第四，病例诊断根据湖北省和湖北省以外其他省份区别对待。
  >
  >湖北以外其他省份仍然分为“疑似病例”和“确诊病例”两类。基于已经发现没有明确流行病学史的确诊病例，故将“无明确流行病学史的，符合临床表现中的3条（发热和/或呼吸道症状；具有上述肺炎影像学特征；发病早期白细胞总数正常或降低，或淋巴细胞计数减少。）”也纳入疑似病例进行排查。确诊病例诊断标准没变（需有呼吸道标本或血液标本行实时荧光RT-PCR检测新型冠状病毒核酸阳性；或病毒基因测序，与已知的新型冠状病毒高度同源。）
  >
  >湖北省增加“临床诊断”分类。而且“疑似病例”标准修改为：无论有没有流行病学史，只要符合“发热和/或呼吸道症状”和“发病早期白细胞总数正常或降低，或淋巴细胞计数减少”这2条临床表现，便可考虑为疑似病例。相当于疑似病例标准放宽了。疑似病例具有肺炎影像学特征者，为临床诊断病例。确诊病例诊断标准没变。
  >
  >第五，临床分型。根据是否有临床症状、是否有肺炎、肺炎的严重程度、是否出现呼吸衰竭、休克、有无其他器官功能衰竭等分为轻型（临床症状轻微，影像学未见肺炎表现）；普通型（发热、呼吸道等症状，影像学可见肺炎表现的）；重型（呼吸窘迫，RR≥30次/分；静息状态下，指氧饱和度≤93%；动脉血氧分压（PaO2）/吸氧浓度（FiO2）≤300mmHg）和危重型（出现呼吸衰竭，且需要机械通气；出现休克；合并其他器官功能衰竭需ICU监护治疗。）
  >
  >第六，鉴别诊断。引起社区获得性肺炎的病原多达100余种，其中病毒约占30%，而且其它病毒导致的肺炎与常见的流感病毒、副流感病毒、腺病毒、呼吸道合胞病毒、鼻病毒、人偏肺病毒、SARS冠状病毒等有相似之处，单从临床表现、胸部影像学难以鉴别，需依靠病原学检测来区分。
  >
  >第七，病例的发现、报告与排除。湖北省和湖北以外其他省份有所不同。
  >
  >湖北以外其他省份，病例的发现与被告程序和第四版一样，没有变化，强调转运要确保转运安全前提下尽快将疑似患者转运至定点医院。
  >
  >针对湖北省，要求各级各类医疗机构的医务人员发现符合病例定义的疑似病和临床诊断病例后，应当立即进行隔离治疗，疑似病例和临床诊断病例要单间隔离，对疑似病例和临床诊断病例要尽快采集标本进行病原学检测。
  >
  >疑似病例连续两次呼吸道病原核酸检测阴性（采样时间至少间隔1天），方可排除。
  >
  >病情监测，增加“有条件者，可行细胞因子检测。”
  >
  >第九，解除隔离和出院标准。在“体温恢复正常3天以上、呼吸道症状明显好转”基础上，增加“肺部影像学显示炎症明显吸收”，连续两次呼吸道病原核酸检测阴性（采样时间间隔至少1天），可解除隔离出院或根据病情转至相应科室治疗其他疾病。
  >
  
  
  
  ## CT检测的重要性
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
