createdAt: "2019-12-05T09:41:29.866Z"
updatedAt: "2020-02-12T06:41:36.830Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: "新型冠状病毒调研"
tags: []
content: '''
  # 新型冠状病毒调研
  
  ## 背景
  
  
  [A novel coronavirusoutbreak of global health concer](https://www.thelancet.com/action/showPdf?pii=S0140-6736%2820%2930185-9)
  
  >2019年12月，中国湖北省武汉市爆发不明原因肺炎疫情，引起国内外高度关注。中国卫生部门立即展开调查，对该病进行了定性和控制，包括隔离疑似患者、密切监测接触者、收集患者的流行病学和临床数据，以及制定诊断和治疗程序。到2020年1月7日，中国科学家在武汉分离出一种新型冠状病毒(CoV)。2019年新型冠状病毒(2019- ncov)的遗传序列使针对2019- ncov的即时即时RT-PCR诊断测试得以快速发展(基于全球共享所有流感数据计划的全基因组序列数据[GISAID]平台)。情况下19-nCoV不再仅限于武汉。迄今为止，泰国、日本、韩国、美国、越南和新加坡报告了9例2019年输出的ncov感染病例，并可能通过航空旅行进一步传播。-5截至2020年1月23日，中国包括香港、澳门和台湾在内的32个省、直辖市和特别行政区相继报告了确诊病例。这些情况下检测到武汉外,一起检测ofinfection至少在一个家庭集群由碧玉Fuk-Woo陈和他的同事在《柳叶刀》和最近记录感染卫生保健工作者照顾患者2019 - ncov表明人际传播,从而更广泛的传播疾病的风险。截至2020年1月23日，中国共发现实验室确认的2019-nCoV感染病例835例，其中25例死亡，93%住院(图)。
'''
linesHighlighted: []
isStarred: false
isTrashed: false
