createdAt: "2019-12-05T09:41:29.866Z"
updatedAt: "2020-02-13T03:28:24.023Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: "新型冠状病毒调研"
tags: []
content: '''
  # 新型冠状病毒调研
  
  ## 背景
  
  
  [A novel coronavirusoutbreak of global health concer](https://www.thelancet.com/action/showPdf?pii=S0140-6736%2820%2930185-9)
  
  2019年12月，中国湖北省武汉市爆发不明原因肺炎疫情。第一例于12月1日出现在湖北省武汉金银潭医院。同月，武汉部分医疗机构接诊发现27起于华南海鲜市场有关联的肺炎病例[1]，引起国内外高度关注。中国卫生部门立即展开调查，对该病进行了定性和控制，包括隔离疑似患者、密切监测接触者、收集患者的流行病学和临床数据，以及制定诊断和治疗程序。到2020年1月7日，中国科学家在武汉分离出一种新型冠状病毒(CoV)[2]，并在 3天后与国际社会共享病毒基因组数据。由于诊断检测手段的提高和对对疫情爆发的认识增强，报告的病例数量越来越多。1月20日，在北京、广东、浙江等地也确诊了多例新型冠状病毒感染的肺炎病例。同日，中国国家卫生健康委员会(NHC)证实了人对人的传播正在进行[4]。1月21日，美国和台湾在从武汉返回的旅客中发现了病例，中国多个省份报告了新的病例，包括15名医护人员感染和6例死亡[6]。2020年1月31日，世界卫生组织将由新型冠状病毒引发的疫情定为国际关注的公共卫生紧急事件[5]。截至2月12日，中国累计确诊病例44747例，其中重症8204例，并主要集中在湖北省。中国以外，24个国家共有393例病例，包括澳大利亚、柬埔寨、加拿大、法国、德国、日本、尼泊尔、新加坡、韩国、台湾、泰国、阿拉伯联合酋长国、美国和越南[2]。2月12日，世界卫生组织周二通过社交媒体推特发布了其确定的新型冠状病毒引起的疾病的英文名称：COVID-19[7]，并表示新冠病毒疫苗可能在18个月内完成。
  
  
  [1] 武汉市卫生健康委员会.武汉市卫健委关于当前我市肺炎疫情的情况通告[EB/OL]http://wjw.wuhan.gov.cn/front/web/showDetail/2019123108989
  [2] Phelan, A. L., Katz, R., & Gostin, L. O. (2020). The Novel Coronavirus Originating in Wuhan, China: Challenges for Global Health Governance. Jama.
  [3]新型冠状病毒—中国 世界卫生组织[世界卫生组织 \\| 新型冠状病毒—中国](https://www.who.int/csr/don/12-january-2020-novel-coronavirus-china/zh/)
  [4]国家卫生健康委员会高级别专家组就新型冠状病毒感染的肺炎疫情答记者问
  [5] W.H.O. Declares Global Emergency as Wuhan Coronavirus Spreads. The New York Times.
  [6]2019 Novel Coronavirus (2019-nCoV): What We Currently Know
  [7][世卫命名新冠病毒“Covid-19 ”疫苗或在18个月内出现](http://www.rfi.fr/cn/%E4%B8%AD%E5%9B%BD/20200211-%E4%B8%96%E5%8D%AB%E5%91%BD%E5%90%8D%E6%96%B0%E5%86%A0%E7%97%85%E6%AF%92covid-19-%E7%96%AB%E8%8B%97%E6%88%96%E5%9C%A818%E4%B8%AA%E6%9C%88%E5%86%85%E5%87%BA%E7%8E%B0)
  
  
  
  ## 目前检测手段
  
  根据新型冠状病毒肺炎诊疗方案(试行第五版 修正版)[9]，目前患有COVID-19的患者临床表现以发热、乏力、干咳为主要表现。少数患者伴有鼻塞、流涕、腹泻等症状。重症患者多在发病一周后出现呼吸困难和/或低氧血症，严重者快速进展为急性呼吸窘迫综合征、脓毒症休克、难以纠正的代谢性酸中毒和出凝血功能障碍等。
  
  对新型冠状病毒肺炎的疾病诊断主要有以下几个方面：
  
  ### 临床表现
  
  基于目前的流行病学调查，患者的症状以发热、乏力、干咳为主要表现[8]，少数患者伴有鼻塞、流 涕、咽痛和腹泻等症状。
  
  ### 体格检查
  
  轻型患者临床症状轻微；重型患者可出现呼吸急促，RR > 30 次/分，双肺闻及湿啰音，呼吸音减弱，叩诊呈浊音等。
  
  ### 影像学检查
  
  影像学检查是诊断新型冠状病毒肺炎快捷、方便的手段之一。
  
  #### 胸部 X 线检查
  
  病变初期胸片多无异常发现，或呈支气管炎、细支气管炎表现。病变明显时双肺多发斑片状或团片状实变影，病变严重时双肺弥漫性实变，呈“白肺”表现[11]。
  
  
  #### CT影像检查
  
  因患者年龄、免疫力、扫描时所处的病程节段、基础疾病及药物干预而异，其影像学表现病灶主要分布(胸膜下、沿支气管血管束为主)、数量(3个以上多发病灶多见、偶有单发或 双病灶)、形状(斑片状、大片状、结节状、团状、蜂窝样或网格状、条索状等)、密度(多不均匀，呈磨玻璃 密度与小叶间隔增厚混杂铺路石样改变、实变及支气管壁增厚等)及伴发征象(充气支气管征、极少数病例出 现少量胸腔积液和纵膈淋巴结肿大等)各异。[10]。
  
  ### 实验室检测
  
  #### 核酸检测
  
  Corman等人[12]提出了一个建立检测新出现病毒的诊断工作流程，其设计依赖于2019-nCoV与SARS冠状病毒的密切遗传亲缘关系，利用合成核酸技术。在鼻咽拭子、痰、下呼吸道分泌物、血液、粪便等标本中可检测出新型冠状病毒核酸[9]。
  
  #### 基因测序
  
  呼吸道标本或血液标本病毒基因测序，与已知的新型冠状病毒高度同源。[9]
  
  #### 其他实验检查项目
  
  其他还有血气分析、肝肾功能、心肌酶、肌红蛋白、血沉、CRP、PCT、乳 酸、D-二聚体、凝血像、尿液常规、炎症因子(IL-6，IL-10，TNF-α)、TB亚群11项、补体、抗酸染色等[10]。 
  
  
  
  
  [8] Zhu N, Zhang D, Wang W, et al. A novel coronavirus from patients with pneumonia in China, 2019[J]. N Engl J Med, 2020, doi: 10.1056/ NEJMoa2001017
  [9] 新型冠状病毒肺炎诊疗方案 (试行第五版修正版)
  [10] 靳英辉,蔡林,程真顺,程虹,邓通,范逸品,方程,黄笛,黄璐琦,黄桥,韩勇,胡波,胡芬,李柄辉,李一荣,梁科,林丽开,罗丽莎,马晶,马琳璐,彭志勇,潘运宝,潘振宇,任学群,孙慧敏,王莹,王云云,翁鸿,韦超洁,吴东方,夏剑,熊勇,徐海波,姚晓梅,袁玉峰,张笑春,张莹雯,张银高,张华敏,赵剡,赵明娟,訾豪,曾宪涛,王永炎,王行环,武汉大学中南医院新型冠状病毒感染的肺炎防治课题组,中国医疗保健国际交流促进会循证医学分会.新型冠状病毒(2019-nCoV)感染的肺炎诊疗快速建议指南(标准版)[J/OL].解放军医学杂志:1-20[2020-02-13].http://kns.cnki.net/kcms/detail/11.1056.r.20200201.1338.003.html.
  [11] 史河水,韩小雨,樊艳青,梁波,杨帆,韩萍,郑传胜.新型冠状病毒（2019-nCoV）感染的肺炎临床特征及影像学表现[J/OL].临床放射学杂志:1-8[2020-02-13].https://doi.org/10.13437/j.cnki.jcr.20200206.002.
  [12] Corman, V. M., Landt, O., Kaiser, M., Molenkamp, R., Meijer, A., Chu, D. K., ... & Mulders, D. G. (2020). Detection of 2019 novel coronavirus (2019-nCoV) by real-time RT-PCR. Eurosurveillance, 25(3).
  
  
  ## CT检测的重要性
  
  CT影像检查的优势在于其空间分辨率较高，断面影像，没有重叠[13],不受层面以外结构的干扰，通过后处理技术多平面、多方位显示病灶的细节。故CT检查在此次新型病毒性肺炎诊断中发挥重要作用，在国家卫生健康委员会《新型冠状病毒感染的肺炎诊疗方案》（试行第五版）中纳入临床诊断的依据[11]。
  
  通过对CT表现的观察，可以加速早期疾病识别，并加速治疗，并促进早期患者隔离。促使尽快对进行公共卫生监测、控制和应对[14]。
  
  [13] 雷子乔,史河水,梁波,杨帆,肖书萍,韩萍,郑传胜.新型冠状病毒（2019-nCoV）感染的肺炎的影像学检查与感染防控的工作方案[J/OL].临床放射学杂志:1-6[2020-02-13].https://doi.org/10.13437/j.cnki.jcr.20200206.001.
  [14] Chung, M., Bernheim, A., Mei, X., Zhang, N., Huang, M., Zeng, X., ... & Jacobi, A. (2020). CT imaging features of 2019 novel coronavirus (2019-nCoV). Radiology, 200230.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
