createdAt: "2019-12-07T04:34:41.013Z"
updatedAt: "2019-12-07T05:37:02.025Z"
type: "MARKDOWN_NOTE"
folder: "94cf7218696b1536fc91"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
