createdAt: "2019-11-24T12:57:35.493Z"
updatedAt: "2019-11-24T13:10:46.091Z"
type: "MARKDOWN_NOTE"
folder: "94cf7218696b1536fc91"
title: "Latex使用"
tags: []
content: '''
  # Latex使用
  
  Ubuntu系统下：
  
  安装texlive，
  
  安装一个顺手的编辑器
  [有哪些好的 LaTeX 编辑器？ - 陈磊的回答 - 知乎](https://www.zhihu.com/question/19954023/answer/23121933)
  
  
  可以选择texstudio：
  
  ~~~
  sudo apt install texstudio
  ~~~
  用下面的文档测试：
  
  ~~~
  \\documentclass{article}
  \\usepackage{CJKutf8}
  \\begin{document}
  	\\begin{CJK}{UTF8}{gkai}
  		
  		Hello latex!\\\\
  		这是一个楷体中文测试，处理简体字。\\\\
  		
  	\\end{CJK}
  ~~~
  编辑器写完保存为.tex格式，然后用以下方式转为pdf
  
  ~~~
  xelatex test.tex
  ~~~
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
