createdAt: "2020-02-24T06:43:20.725Z"
updatedAt: "2020-03-05T04:48:04.305Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
