createdAt: "2019-11-21T11:17:23.142Z"
updatedAt: "2019-11-21T11:23:44.142Z"
type: "MARKDOWN_NOTE"
folder: "8d283bc4c34b355efef1"
title: "待看"
tags: []
content: '''
  # 待看
  
  
  [数据质量征途pdf-其它文档类资源-CSDN下载](https://download.csdn.net/download/tongxi_yangcd/10201341)
  
  
  “大数据质量”、“数据治理”、“big data quality”等
  为主题词
'''
linesHighlighted: []
isStarred: false
isTrashed: false
