createdAt: "2021-06-17T07:28:40.883Z"
updatedAt: "2021-07-15T01:34:12.891Z"
type: "MARKDOWN_NOTE"
folder: "0a10886e53840528eb15"
title: "值得研究的有意思的专题"
tags: []
content: '''
  # 值得研究的有意思的专题
  
  1. 胶囊网络
  2. 周志华深度森林
  3. 小样本分割用RGBD图像
'''
linesHighlighted: []
isStarred: false
isTrashed: false
