createdAt: "2020-11-04T10:56:01.482Z"
updatedAt: "2020-11-04T10:56:28.364Z"
type: "MARKDOWN_NOTE"
folder: "0a10886e53840528eb15"
title: "Few shot 目录"
tags: []
content: '''
  # Few shot 目录
  
  
  1. [服务器使用](:note:9f20534d-46cd-497d-9c43-7c0bdd1461a0)
  2. 
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
