createdAt: "2019-11-26T12:31:23.008Z"
updatedAt: "2019-11-26T12:32:37.909Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: "StarGAN阅读总结"
tags: []
content: '''
  # StarGAN阅读总结
  
  学生：任妍
  学号：1901213094
  
  [TOC]
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
