createdAt: "2021-03-27T10:35:25.129Z"
updatedAt: "2021-03-27T13:21:35.584Z"
type: "MARKDOWN_NOTE"
folder: "7b95254d4d023f3965f1"
title: "1. Loading the data"
tags: []
content: '''
  # 1. Loading the data
  
  ## pandas读取csv文件
  
  ```
  admit,gre,gpa,rank
  0,380,3.61,3
  1,660,3.67,3
  1,800,4,1
  1,640,3.19,4
  0,520,2.93,4
  1,760,3,2
  1,560,2.98,1
  ```
  
  ```python
   # 参考https://github.com/udacity/deep-learning-v2-pytorch.git ntro-neural-networks > student_admissions > StudentAdmissions.ipynb
  # Importing pandas and numpy
  import pandas as pd
  import numpy as np
  
  # Reading the csv file into a pandas DataFrame
  data = pd.read_csv('student_data.csv')
  
  # Printing out the first 10 rows of our data
  data[:10]
  ```
  
  $$\\overgroup{AB}$$
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
