createdAt: "2021-03-27T10:35:25.129Z"
updatedAt: "2021-03-31T03:08:48.102Z"
type: "MARKDOWN_NOTE"
folder: "7b95254d4d023f3965f1"
title: "1. Loading the data"
tags: []
content: '''
  # 1. Loading the data
  
  ## pandas读取csv文件
  
  ```
  admit,gre,gpa,rank
  0,380,3.61,3
  1,660,3.67,3
  1,800,4,1
  1,640,3.19,4
  0,520,2.93,4
  1,760,3,2
  1,560,2.98,1
  ```
  
  ```python
   # 参考https://github.com/udacity/deep-learning-v2-pytorch.git ntro-neural-networks > student_admissions > StudentAdmissions.ipynb
  # Importing pandas and numpy
  import pandas as pd
  import numpy as np
  
  # Reading the csv file into a pandas DataFrame
  data = pd.read_csv('student_data.csv')
  
  # Printing out the first 10 rows of our data
  data[:10]
  ```
  
  ## 用torchvision中的datasets下载数据
  下载数据，对数据进行transform预处理，然后放进dataloader，打乱顺序，生成batch
  
  
  ```python
  # 参考https://github.com/udacity/deep-learning-v2-pytorch.git  /intro-to-pytorch/Part 2 - Neural Networks in PyTorch (Exercises).ipynb
  
  ### Run this cell
  
  from torchvision import datasets, transforms
  
  # Define a transform to normalize the data
  transform = transforms.Compose([transforms.ToTensor(),
                                transforms.Normalize((0.5,), (0.5,)),
                                ])
  
  # Download and load the training data
  
  trainset = datasets.MNIST('~/.pytorch/MNIST_data/', download=True, train=True, transform=transform)
  trainloader = torch.utils.data.DataLoader(trainset, batch_size=64, shuffle=True)
  ```
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
