createdAt: "2020-03-23T07:14:36.605Z"
updatedAt: "2020-04-29T02:30:35.031Z"
type: "MARKDOWN_NOTE"
folder: "17ec6a2700afef60a17d"
title: "肝脏病灶分割资料与准备"
tags: []
content: '''
  # 肝脏病灶分割资料与准备
  
  
  
  ## 数据
  
  数据地址：
  
  ~~~
  # nat.cloudbastion.cn 端口64530，root,密码123
  
  #北大数据
  /gdata/medical_dataset/data in Feb & Mar/livercanerHE-beidasz-cell-20200323
  
  #PAIP数据
  /gdata/medical_dataset/competition/PAIP/
  ~~~
  /gdata/medical_dataset/competition/PAIP/
  
  
  ![64eb3342.png](:storage\\91da6b04-9648-412e-ba8f-1f43a19da4e9\\64eb3342.png)
  
  filezilla登录上面的数据容器可以下载数据，然后用ASAP软件进行观察
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
