createdAt: "2020-04-02T07:45:14.588Z"
updatedAt: "2020-04-06T08:23:19.839Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
