createdAt: "2020-10-28T06:19:19.873Z"
updatedAt: "2020-12-22T12:34:40.168Z"
type: "MARKDOWN_NOTE"
folder: "0a10886e53840528eb15"
title: "服务器使用"
tags: []
content: '''
  # 服务器使用
  
  使用vpn.pkusz.edu.cn的vpn进行连接
  
  服务器：
  
  ~~~
  地址：219.223.192.24
  端口：20700
  账号：root
  密码：123
  ~~~
  
  ## 配置Jupyter
  
  ~~~
  pip install jupyter
  jupyter notebook –generate-config
  ~~~
  
  打开python交互
  
  ~~~
  from notebook.auth import passwd
  passwd()  #密码123
  >>>'sha1:1d4760bdad95:f925d05d2a59712c3c26baec7d73089046114e19'
  >>>
  
  'argon2:$argon2id$v=19$m=10240,t=10,p=8$jYqmh50Y1lQhHsy4aMAXXw$M7br0iH4xq4ItG6yWCTOTQ'
'''
linesHighlighted: []
isStarred: false
isTrashed: false
