createdAt: "2021-03-27T10:33:39.814Z"
updatedAt: "2021-03-27T10:33:43.071Z"
type: "MARKDOWN_NOTE"
folder: "0c8dbf9ec6d493d3fd38"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
