createdAt: "2019-11-26T12:35:07.886Z"
updatedAt: "2020-02-18T02:37:29.987Z"
type: "MARKDOWN_NOTE"
folder: "0c8dbf9ec6d493d3fd38"
title: "常见命令"
tags: []
content: '''
  # 常见命令
  
  [TOC]
  
  
       
'''
linesHighlighted: []
isStarred: false
isTrashed: true
