createdAt: "2020-08-17T02:03:54.629Z"
updatedAt: "2020-08-17T02:06:06.482Z"
type: "MARKDOWN_NOTE"
folder: "17ec6a2700afef60a17d"
title: "Few-shot Segmentation Survey"
tags: []
content: '''
  # Few-shot Segmentation Survey
  
  
  ## 一、Background
  
  ### 1. 问题定义
  
  
  ### 2. 困难
  
  
  ### 3. 发展脉络
  
  
  ### 4. 经典方法、文献
  
  
  ## 二、 Methods
  
  
  ### 1. 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
