createdAt: "2019-11-29T04:18:06.971Z"
updatedAt: "2019-11-29T04:18:47.707Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: "Machine Learning Individual Student Homework 2"
tags: []
content: '''
  # Machine Learning Individual Student Homework 2
  
  [TOC]
  
  ## 1. 数据分析和可视化
  
  (方差/均值/协方差/分布/箱形图等)
  ## 2. 算法介绍
  
  (可以使用一种或多种算法)
  ## 3. 结果展示
  
  (展示聚类结果,评价效果)
  ## 4. 分析思考
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
