createdAt: "2019-11-19T11:38:31.247Z"
updatedAt: "2019-11-19T11:38:48.225Z"
type: "SNIPPET_NOTE"
folder: "f1fd0a362703e39f5960"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
