createdAt: "2019-11-16T03:31:30.898Z"
updatedAt: "2019-11-16T03:34:26.033Z"
type: "MARKDOWN_NOTE"
folder: "f1fd0a362703e39f5960"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
