createdAt: "2019-11-19T11:38:26.461Z"
updatedAt: "2019-11-20T03:06:18.674Z"
type: "MARKDOWN_NOTE"
folder: "f1fd0a362703e39f5960"
title: "Code Reading - Learning Compositional Representations for Few-Shot Recognition"
tags: []
content: '''
  # Code Reading - Learning Compositional Representations for Few-Shot Recognition
   
  
  [TOC]
  
  ## Codes Comprehensing
  
  [分析main.py代码 - comp_feats_release](:note:459da1c5-ab19-4784-bdff-c0dbfac3e407)
  [分析data.py代码 - comp_feats_release](:note:4f49b836-22ba-4dfc-9d39-0f9982b80f28)
  [分析compositional_analyzer.py代码 - comp_feats_release](:note:0d8d06b9-57e9-46ef-aecb-f9b69c9b59e2)
  [分析myMetaDataset.py代码 - comp_feats_release](:note:d4e25508-5044-48cb-b8f7-3769b3f013bb)
  [分析ResNetFeat.py代码 - comp_feats_release](:note:85f230b5-d44c-4fea-94ae-18257dc38b53)
  ## Functions of different types of documents
  
  例子：
  [不同类型文件的作用 - comp_feats_release](:note:33d8f9d5-75ba-4d8e-9e5b-b7de928c62b4)
  
  ### yaml
  
  用来储存一些参数，这样之后改参数会非常容易
  
  ### json
  
  储存dataset的lable信息的，就是lable的分类有哪几种？然后每种分类的表示用数字进行表示，1，2，3。然后每张图片的地址
  
  
  
  ## Experiments Results
  
  用这些参数
  ~~~
  python main.py --model ResNet10 \\
    --traincfg base_classes_train_cub_template.yaml \\
    --valcfg base_classes_val_cub_template.yaml \\
    --print_freq 10 --save_freq 10 \\
    --checkpoint_dir checkpoints/ResNet10_base_cub_cos \\
    --gpu 0 --num_classes 200 --step_size1 130 --step_size2 150 --stop_epoch 170 --is_cosine
  ~~~
  得到的结果
  ~~~
  Epoch 169/170 | Batch 170/188 | Loss 0.565152 | Data time 0.002330 | SGD time 0.012071
  0.001
  Epoch 169/170 | Batch 180/188 | Loss 0.569590 | Data time 0.002203 | SGD time 0.011964
  Epoch 169/170 | Batch 0/30 | Top-1 0.680000 | Top-5 0.890000 | Data time 1.183203 | Test time 0.030048
  Epoch 169/170 | Batch 10/30 | Top-1 0.669091 | Top-5 0.883636 | Data time 1.399972 | Test time 0.032328
  Epoch 169/170 | Batch 20/30 | Top-1 0.675238 | Top-5 0.882857 | Data time 1.837559 | Test time 0.031508
  Epoch 169/170 | Batch 29/30 | Top-1 0.670572 | Top-5 0.880772 | Data time 2.140799 | Test time 0.030126
  
  ~~~
'''
linesHighlighted: []
isStarred: false
isTrashed: false
