createdAt: "2019-11-19T11:38:26.461Z"
updatedAt: "2019-12-12T09:07:51.334Z"
type: "MARKDOWN_NOTE"
folder: "f1fd0a362703e39f5960"
title: "Code Reading - Learning Compositional Representations for Few-Shot Recognition"
tags: []
content: '''
  # Code Reading - Learning Compositional Representations for Few-Shot Recognition
   
  
  [TOC]
  
  ## Codes Comprehensing
  
  [分析main.py代码 - comp_feats_release](:note:459da1c5-ab19-4784-bdff-c0dbfac3e407)
  [分析data.py代码 - comp_feats_release](:note:4f49b836-22ba-4dfc-9d39-0f9982b80f28)
  [分析compositional_analyzer.py代码 - comp_feats_release](:note:0d8d06b9-57e9-46ef-aecb-f9b69c9b59e2)
  [分析myMetaDataset.py代码 - comp_feats_release](:note:d4e25508-5044-48cb-b8f7-3769b3f013bb)
  [分析ResNetFeat.py代码 - comp_feats_release](:note:85f230b5-d44c-4fea-94ae-18257dc38b53)
  ## Functions of different types of documents
  
  例子：
  [不同类型文件的作用 - comp_feats_release](:note:33d8f9d5-75ba-4d8e-9e5b-b7de928c62b4)
  
  ### yaml
  
  用来储存一些参数，这样之后改参数会非常容易
  
  ### json
  
  储存dataset的lable信息的，就是lable的分类有哪几种？然后每种分类的表示用数字进行表示，1，2，3。然后每张图片的地址
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
