createdAt: "2020-03-04T08:57:31.278Z"
updatedAt: "2020-03-08T02:16:52.296Z"
type: "MARKDOWN_NOTE"
folder: "17ec6a2700afef60a17d"
title: "Jupyter Notebook服务器配置"
tags: []
content: '''
  # [Jupyter Notebook](http://192.168.202.134:63422/)服务器配置
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
isPinned: true
