createdAt: "2019-11-19T11:58:38.833Z"
updatedAt: "2019-11-19T11:59:18.829Z"
type: "MARKDOWN_NOTE"
folder: "0c8dbf9ec6d493d3fd38"
title: "Git常见命令"
tags: []
content: '''
  ### Git常见命令
  
  
  删除本地git仓库
  
  ~~~
  rm -rf .git
  ~~~
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
