createdAt: "2019-11-15T05:51:30.930Z"
updatedAt: "2019-12-17T02:39:29.068Z"
type: "MARKDOWN_NOTE"
folder: "0c8dbf9ec6d493d3fd38"
title: "ubuntu 常见命令"
tags: []
content: '''
  ## ubuntu 常见命令
  
  ### 文件处理
  
  #### 压缩与解压缩
  
  ~~~
  zip -r example_service.zip example_service/
  unzip FileName.zip
  ~~~
  
  #### 删除文件夹
  
  ~~~
  rm -rf few-shot-ctm
  ~~~
  
  #### 显示文件夹里面有什么
  
  ~~~
  ls -ll
  ~~~
  
  #### 路径
  返回上一级
  
  ~~~
  cd ..
  cd ../..
  ~~~
  返回主目录
  ~~~
  cd ~
  ~~~
  搜索某个软件的所在位置
  ~~~
  whereis latex
  ~~~
  将软件安装到指定路径
  
  ~~~
  ./configure --prefix=路径
  ~~~
  
  
  #### 复制文件到指定目录
  
  
      cp -r kfbreader_linux ~/workspace/renyan/tianchi/baseline/retinanet
  
  
  复制整个文件夹到指定目录
  
      cp -ri /home/server/tomcat/* /home/server/test/
  
  #### 安装文件
  ~~~
  sudo dpkg -i [package name.deb]
  ~~~
  
  
  ### Vim
  
  [Vim使用方法](https://www.runoob.com/linux/linux-vim.html) 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
