createdAt: "2019-11-24T14:14:42.278Z"
updatedAt: "2019-11-24T14:24:30.383Z"
type: "MARKDOWN_NOTE"
folder: "ba78bd24b69f615562d5"
title: "2019.18.11-11.24_周报_任妍"
content: '''
  # 2019.18.11-11.24_周报_任妍
  
  [TOC]
  
  
  ## 本周工作总结
  
  1. 继续研究Few-shot，主要工作有以下：
  Learning Compositional Representations for Few-Shot Recognition论文代码仔细阅读，学习代码
  2. 大数据质量保障模型
  查阅资料，了解相关领域内容，调查国内外研究现状
  
  
  
  ## 本周遇到问题及解决方案
  
  论文复现出现问题，应该是一个简单的tensor的维度的报错，但是由于对原论文的data了解不是特别清楚，所以不敢贸然解决这个bug，下周可能要花时间解决以下
  
  
  ## 下周计划
  
  1. 继续研究大数据质量保障模型
  2. 继续复现代码，并尝试改动
'''
linesHighlighted: []
tags: []
isStarred: false
isTrashed: false
