createdAt: "2021-07-01T02:43:17.575Z"
updatedAt: "2021-07-01T02:43:36.332Z"
type: "MARKDOWN_NOTE"
folder: "0a10886e53840528eb15"
title: "创新点从哪里来"
tags: []
content: '''
  # 创新点从哪里来
  
  
  
  1. 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
